.idea
*.iml
venv
#.env*
*.pyc
*/__pycache__/*
.DS_Store

# Docker Service Cache Volumes
docker_services/airflow/airflow_logs/
docker_services/postgres/data/
docker_services/mariadb/data/
docker_services/superset/superset_home/
docker_services/minio/data1/.minio.sys/
docker_services/airflow/jars/*.jar
docker_services/minio/data1/
.ipynb_checkpoints

src/scraper/
src/jupyter/.jupyter/
